.image {
    max-width: 22vw;
    height: 160px;
    border-radius: 16px;
}

.product {
    border: 4px solid #ff5722;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.button {
    background-color: #eee;
}

.input {
    background-color: #eee;
    width: min(60px, 6vw);
}